
Minos.Web/obj/Minos.Web.csproj.nuget.dgspec.json
Minos.Web/obj/Minos.Web.csproj.nuget.g.props
Minos.Web/obj/project.assets.json
Minos.Web/obj/project.nuget.cache
Minos.Web/obj/Minos.Web.csproj.EntityFrameworkCore.targets
Minos.Web/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
Minos.Web/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
Minos.Web/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
Minos.Web/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
Minos.Web/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
Minos.Web/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
Minos.Web/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
Minos.Web/obj/Debug/netcoreapp3.1/Minos.Web.Views.pdb
Minos.Web/obj/Debug/netcoreapp3.1/Minos.Web.Views.dll
Minos.Web/obj/Debug/netcoreapp3.1/Minos.Web.pdb
Minos.Web/obj/Debug/netcoreapp3.1/Minos.Web.dll
Minos.Web/obj/Debug/netcoreapp3.1/Minos.Web.csprojAssemblyReference.cache
Minos.Web/obj/Debug/netcoreapp3.1/Minos.Web.csproj.FileListAbsolute.txt
Minos.Web/obj/Debug/netcoreapp3.1/Minos.Web.csproj.CoreCompileInputs.cache
Minos.Web/obj/Debug/netcoreapp3.1/Minos.Web.assets.cache
Minos.Web/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Minos.Web/Migrations/MinosContextModelSnapshot.cs
Minos.Web/Migrations/20200715005745_InitialMigrations.Designer.cs
Minos.Web/Migrations/20200715005745_InitialMigrations.cs
Minos.Web/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
Minos.Web/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
Minos.Web/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
Minos.Web/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
Minos.Web/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
Minos.Web/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Minos.Web/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
Minos.Web/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
Minos.Web/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
Minos.Web/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
Minos.Web/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
Minos.Web/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
Minos.Web/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
Minos.Web/bin/Debug/netcoreapp3.1/Pomelo.JsonObject.dll
Minos.Web/bin/Debug/netcoreapp3.1/Pomelo.EntityFrameworkCore.MySql.dll
Minos.Web/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
Minos.Web/bin/Debug/netcoreapp3.1/MySqlConnector.dll
Minos.Web/bin/Debug/netcoreapp3.1/Minos.Web.Views.pdb
Minos.Web/bin/Debug/netcoreapp3.1/Minos.Web.Views.dll
Minos.Web/bin/Debug/netcoreapp3.1/Minos.Web.runtimeconfig.dev.json
Minos.Web/bin/Debug/netcoreapp3.1/Minos.Web.pdb
Minos.Web/bin/Debug/netcoreapp3.1/Minos.Web.dll
Minos.Web/bin/Debug/netcoreapp3.1/Minos.Web.deps.json
Minos.Web/bin/Debug/netcoreapp3.1/Minos.Engine.pdb
Minos.Web/bin/Debug/netcoreapp3.1/Minos.Engine.dll
Minos.Web/bin/Debug/netcoreapp3.1/Minos.Domain.pdb
Minos.Web/bin/Debug/netcoreapp3.1/Minos.Domain.dll
Minos.Web/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
Minos.Web/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
Minos.Web/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
Minos.Web/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
Minos.Web/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
Minos.Web/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
Minos.Web/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Minos.Web/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
Minos.Web/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
Minos.Web/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
Minos.Web/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
Minos.Web/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
Minos.Web/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
Minos.Web/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
Minos.Web/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
Minos.Web/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
Minos.Web/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
Minos.Web/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
Minos.Web/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
Minos.Web/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
Minos.Web/bin/Debug/netcoreapp3.1/MediatR.dll
Minos.Web/bin/Debug/netcoreapp3.1/appsettings.json
Minos.Engine/obj/project.nuget.cache
Minos.Engine/obj/project.assets.json
Minos.Engine/obj/Minos.Engine.csproj.nuget.g.props
Minos.Engine/obj/Minos.Engine.csproj.nuget.dgspec.json
Minos.Engine/obj/Debug/netstandard2.0/Minos.Engine.pdb
Minos.Engine/obj/Debug/netstandard2.0/Minos.Engine.dll
Minos.Engine/obj/Debug/netstandard2.0/Minos.Engine.csprojAssemblyReference.cache
Minos.Engine/obj/Debug/netstandard2.0/Minos.Engine.csproj.FileListAbsolute.txt
Minos.Engine/obj/Debug/netstandard2.0/Minos.Engine.csproj.CoreCompileInputs.cache
Minos.Engine/obj/Debug/netstandard2.0/Minos.Engine.assets.cache
Minos.Engine/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
Minos.Engine/bin/Debug/netstandard2.0/Minos.Engine.pdb
Minos.Engine/bin/Debug/netstandard2.0/Minos.Engine.dll
Minos.Engine/bin/Debug/netstandard2.0/Minos.Engine.deps.json
Minos.Engine/bin/Debug/netstandard2.0/Minos.Domain.pdb
Minos.Engine/bin/Debug/netstandard2.0/Minos.Domain.dll
Minos.Domain/obj/project.nuget.cache
Minos.Domain/obj/project.assets.json
Minos.Domain/obj/Minos.Domain.csproj.nuget.g.props
Minos.Domain/obj/Minos.Domain.csproj.nuget.dgspec.json
Minos.Domain/obj/Debug/netstandard2.0/Minos.Domain.pdb
Minos.Domain/obj/Debug/netstandard2.0/Minos.Domain.dll
Minos.Domain/obj/Debug/netstandard2.0/Minos.Domain.csprojAssemblyReference.cache
Minos.Domain/obj/Debug/netstandard2.0/Minos.Domain.csproj.FileListAbsolute.txt
Minos.Domain/obj/Debug/netstandard2.0/Minos.Domain.csproj.CoreCompileInputs.cache
Minos.Domain/obj/Debug/netstandard2.0/Minos.Domain.assets.cache
Minos.Domain/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
Minos.Domain/bin/Debug/netstandard2.0/Minos.Domain.pdb
Minos.Domain/bin/Debug/netstandard2.0/Minos.Domain.dll
.vs/Minos/DesignTimeBuild/.dtbcache.v2
